<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>武汉大学社团信息服务平台</title>
</head>
<body>



<!--未登录时看到的页面，游客模式-->
<div th:if="${ok != 1}">
    <center><p>请登录</p></center>
</div>


<!--//登录之后看到的页面-->
<div th:if="${ok == 1}">
    <center><p>欢迎使用武汉大学社团信息服务平台</p></center>
    <center><a href="search.html">搜索社团</a></center>
    <center><p>我的社团</p></center>
    <center><p>消息通知</p></center>
    <center><a href="/apply/Apply.html">报名社团</a></center>
    <center><a href="login.html">切换账号</a></center>
</div>

</body>
</html>